<div class="aboutpage">

<header>

<br/><br/>
<h3>About</h3>
<br/><br/><br/>

<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                	<h4><strong>What is this?</strong></h4>
                    <p>Hi there! I decided to build this website after finishing a coding boot camp in South Africa because I wanted people to learn more about me (and not just build an idea of who I am based on my resume). Please feel free to reach out and I hope you enjoy my website!</p>
                    <br/>
                </div>
                <div class="col-md-6 col-lg-6">
                	<h4><strong>Why am I doing this?</strong></h4>
                    <p>I am currently pursuing a double major in Finance and Economics at the University of Notre Dame and I wanted to build a space where I could compile all of the activities that I enjoy doing (and also the ones I don't do anymore but that shaped significantly who I am).</p>
                    <br/>
                </div>
            </div>
        </div>
    </section>

</header>

<!-- Footer -->
    <footer class="text-center">
        <div class="footer-below2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                            <br/>
                            made by enrique pajuelo &copy; 2015
                            <br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </footer>



</div>