<div class="interestspage">

<header>

<br/><br/>
<h3>Interests</h3>

  <div class="row">

    <div class="form1">
      <h4>Get to know me</h4>
      <hr>

        <div class="col-md-4">
        <p>Hello there! I am a Finance and Economics double major at the University of Notre Dame and I am very passionate about business and sports. I am the President of the Entrepreneurship Society at ND and am a huge fan of technology and how it is applied in business. The summer before my sophomore year, I went to South Africa to do a coding course and I loved it.</p>
        </div>

        <div class="col-md-4">
        <p>I'm originally from Lima, Peru and even though I love the people, the music, and especially the food back home, I decided that studying in the United States would be best for my personal and professional development. I chose to come to Notre Dame not only because it has the best Business School, but also because of the spiritual aspect that it provides.</p>
        </div>

        <div class="col-md-4">
        <p>I believe that businesses are the best way to give back to society. A business does not only generate profits for the owner and the CEOs, but it also provides jobs to people (affecting the standards of living of their families too). In the same way, it allows one to change the world with philantrophic activities and disruptive technologies.</p>
        </div>

    </div>
</div>

<div class="images">
<div class="row">

  <div class="col-md-12">
    <img src="/assets/photo1.JPG">
  </div>

</div>
</div>  

<div class="row">

      <div class="form2">
       <h4>Work experience</h4>
       <hr>

      <div class="col-md-4">

       <h5>Diviso Fondos<h6>June 2015 - August 2015 | Lima, Peru</h6></h5>
       <hr>
        <p>Following my freshman year, I interned in the Sales and Trading division of Diviso Fondos, an Investment Company in Peru. It was my first exposure to the financial world and I learned way more than I expected.</p>
        <p>I was in charge of elaborating and analyzing daily and monthly reports related to the performance of the mutual funds. I used these reports to generate presentations that were used by the CEO at Board meetings. I also assisted the porfolio managers at the trading desk in their day-to-day transactions by using a Bloomberg terminal, gaining a lot of experience in the field.</p><br/>
      </div>

      <div class="col-md-4">

        <h5>Duodecim<h6>April 2014 - August 2014 | Lima, Peru</h6></h5>
        <hr>

        <p>After finishing the IB Diploma, I attended college in Lima for a semester (where studied Industrial Engineering in order to try something different from what I was going to study at Notre Dame) and also started Duodecim with a group of college students in order to provide funds for service projects organized by the Church.</p>
        <p>Besides helping school kids improve their grades and understanding of several subjects, we also donated our incomes to undertake social projects. I gained experience as a tutor and also organized activities in poor communities, especially with young kids.</p><br/>

      </div>

      <div class="col-md-4">

        <h5>Ladrillos Fortes<h6>January 2014 - April 2014 | Lima, Peru</h6></h5>
        <hr>

        <p>Ladrillos Fortes is a Peruvian brick company with factories in four different cities in Peru. I worked as a Sales and Marketing Assistant, and my main duty was to help the division unify information accross the Sales, Marketing and Production Departments to optimize the sales of ceramic bricks.</p>
        <p>This was to be achieved by reducing the amount of remaining stock and by fulfilling customer orders in time, so we had to improve the planning strategy. I also researched new markets by doing one-on-one conversations, phone calls, surveys and visiting retailers.</p>

      </div>

    </div>
    </div>

<div class="images">
<div class="row">

  <div class="col-md-12">
    <img src="/assets/duodecim.jpg">
  </div>

</div>
</div> 

    <div class="row">

      <div class="form3">
       <h4>Traveling</h4>
       <hr>

      <div class="col-md-4">

       <h5>iXperience<h6>May 2015 - June 2015 | Cape Town, South Africa</h6></h5>
       <hr>
        <p>The summer after my freshman year I attended an intenstive, 160-hour web development camp in Cape Town. I met people from top universities worldwide, ate amazing food, discovered awesome places and, most importantly, learned how to code.</p>
        <p>Every program I made was fulfilling because I knew it was me who built it from scratch. I designed and created a dynamic web application called Bridge, using Ruby on Rails, HTML, and CSS. Bridge is a platform designed to connect clients directly to freelancers, inspired by the increasing unemployment in South Africa. Take a look at it! <font color="blue"><u>(www.bridgeconnect.co)</u></font></p><br/>
      </div>

       <div class="col-md-4">

        <h5>SIBC International Case Study<h6>October 2015 | Sao Paulo, Brazil</h6></h5>
        <hr>

        <p>During Fall Break of my sophomore year, I traveled with a delegation of seven other Notre Dame students to Brazil to participate in a program with workshops, lectures, and cultural immersion, as well as a case study with students from the University of Campinas.</p>
        <p>It was a great opportunity to work on an international topic with students from diverse backgrounds and to develop global business knowledge and skills. I learned in depth about Brazil's socio-economic situation from the perspective of students, professors, tour guides, and even from the taxi drivers (with whom I got to practice my Portuguese as well!).</p><br/>

      </div>

      <div class="col-md-4">

        <h5>Round Square International Conference<h6>2012 | Nairobi, Kenya</h6></h5>
        <hr>

        <p>My senior year in high school, I attended a conference held in Nairobi with around 300 delegates from around the world. Before attending the actual conference, we went to Mombasa (a beach nearby) and we also went on a safari. This made my first time in Africa an amazing experience.</p>
        <p>The theme of the conference was "No existence without coexistence", which raised awareness of Africa's socio-political issues. I stayed in the house of Kenyian students, and attended several workshops where we discussed our different views of topics related to the theme. We also helped build school classrooms for poor children.</p>

      </div>

    </div>
    </div>

<div class="images">
<div class="row">

  <div class="col-md-12">
    <img src="/assets/sandboarding.jpg">
  </div>

</div>
<div class="row">

  <div class="col-md-12">
    <img src="/assets/surf2.jpg">
  </div>

</div>
</div> 

    <div class="row">

      <div class="form4">
       <h4>Clubs and societies</h4>
       <hr>

      <div class="col-md-4">

       <h5>Entrepreneurship Society of Notre Dame<h6>President</h6></h5>
       <hr>
        <p>The E-Society is a student-led organization that empowers aspiring entrepreneurs of all academic interests from across the university to translate their passions into action by providing a network of support, learning resources, and transformative experiences.</p>
        <p>It aims to be the one-stop-shop of network, resources, and mentorship for students to collaborate in pursuing their entrepreneurial ideas. The club facilitates opportunities to connect entrepreneurs and cultivate an entrepreneurial culture on campus.</p><br/>
      </div>

       <div class="col-md-4">

        <h5>Student International Business Council<h6>Member</h6></h5>
        <hr>

        <p>I got involved in SIBC on my first semester in college, and did projects in the finance and consulting divisions. One of the projects had us propose a group solution to Bain for the problems that American Eagle was facing with their revenues, analyzing adjacent markets and benchmarking the company with its competition. The other project had us simulate the work done by investment banking analysts through qualitative and quantitative analysis related to an IPO, utilizing public information and market research.</p><br/>

      </div>

      <div class="col-md-4">

        <h5>Other clubs and activities on campus<h6>Active</h6></h5>
        <hr>

        <p>Besides the two clubs I have already mentioned, I am also part of others clubs such as ALPFA (Association of Latino Professionals For America), the Wall Street Club, and the Latino Honors Society. These clubs have regular meetings and networking events to which I attend depending on the subject to be discussed. For example, in 2015 I traveled with the WSJ to Chicago to visit five financial firms (JP Morgan, Northern Trust, Baird, William Blair and Grosvenor).</p>

      </div>

    </div>
    </div>

<div class="images">
<div class="row">

  <div class="col-md-12">
    <img src="/assets/brazil.jpg">
  </div>

</div>
</div> 

</header>

<br/><br/>

<!-- Footer -->
    <footer class="text-center">
      <div class="footer-below3">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              made by enrique pajuelo &copy; 2015
            </div>
          </div>
        </div>
      </div>
    </footer>

</div>